
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Admin Register</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<style>
    b{
        font-size: 30px;
        color: blue;
        text-shadow: 3px 3px 5px green;
    }
    h1{
        font-size: 40px;
        
        /* color: red;
        text-shadow: 5px 5px 5px blue; */
    }
    h2{
        color: red;
        text-shadow: 5px 5px 5px blue;
    }
    form
       {
        margin: 30px 300px;
        border-radius: 10px;
        /* box-shadow:-10px 10px 10px green,20px 20px 20px red; */
        padding: 15px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="offset-md-5 cal-md-6">
        <form method="POST" >
            <h1>Admin Register  Here...</h1>
             {% csrf_token %}
                    {{ rform }}<br>
                    <center>
                    <input type="submit" value="Register" class="btn btn-success">
                    <input type="reset"  value="clear" class="btn btn-danger">
                    </center>
        </form>
        </div>
    </div>
</div>
</div>
</body>
</html>
