{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>Vehicle Management System</title>
  </head>
  <body>
    <center>
      <marquee>This Project is under construction</marquee>
      <h1><u>Welcome to Vehicle Management System</u></h1>

      <button onclick="window.location.href = '/super_admin_login/';">Super_Admin</button>
      <button onclick="window.location.href = '/admin_login/';">Admin</button>
      <button onclick="window.location.href = '/user_login/';">User</button>

    </center>

  </body>
</html>
